@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* tasks */
    
    /* mobile-specified font-size */
        header h1 {
            font-size: 52px;
        }
    /* desktop-specified font-size */
        @media all and (min-width: 600px) {
            header h1 { 
                font-size: 48px;
            }
        }
    /* designated font family for navigation */ 
        header nav { 
            font-family: 'Montserrat', sans-serif;
        }
    /* designated background color */ 
    header {
        background-color: #0B1C51;
    }

/* further stylization to match the images in views */
    header {
        color: white;
        
    }
    header h1 {
        border: 1px solid red;
        margin: 0;
        text-align: center;
    }
    header nav {
        border: 1px solid red;
    }
    header nav ul {
        border: 1px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 15%;
        padding: 0;
        list-style: none;
    }
    header nav ul li a {
        border: 1px solid red;
        color: white;
        text-decoration: none;
    }
    @media all and (min-width: 600px) {
        header { 
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1rem 0;
            /* justify-content: space-between; */
        }
        header h1 {
            /* flex: 1; */
            margin-left: 1.5rem;
        }
        header nav {
            flex: 2;
            /* text-align: right !important; */
            /* display: flex; */
            /* justify-content: space-between; */
            /* align-items: center; */
        }
    }
